.icon {
  padding-right: 10px;
}

.circular {
	width: 40px;
	height: 40px;
	margin-top: -10px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	background: url(http://brandon.gupton.info/img/brandon.jpg) no-repeat;
	}

.footer-icon {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

body {
  position: relative;
}

a {
  text-decoration: none !important;
}

.icon {
  padding-right: 10px;
}

.section {
  padding-top: 70px;
  padding-bottom: 800px;
}

.section-last {
  padding-bottom: 400px;
}

.section-single {
  padding-bottom: 0;
}

.contact-list li {
  padding: 5px 10px;
}

.portfolio-button {
  text-transform: uppercase;
    margin-bottom: 20px;
    height: 107px;
    display: block;
    border: 1px #eee solid;
    font-size: 24px;
    font-weight: 700;
    line-height: 107px;
    text-align: center;
      -moz-transition: all 0.25s ease-in;
      -o-transition: all 0.25s ease-in;
      -webkit-transition: all 0.25s ease-in;
      transition: all 0.25s ease-in;
}

.portfolio-button:hover {
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.chef {
  color: #F18B21;
}

.chef:hover {
  color: #fff;
  background-color: #F18B21;
}

.java {
  color: #E20001;
}

.java:hover {
  color: #fff;
  background-color: #E20001;
}

.jenkins {
  color: #335061;
}

.jenkins:hover {
  color: #fff;
  background-color: #335061;
}

.spring {
  color: #6DB33F;
}

.spring:hover {
  color: #fff;
  background-color: #6DB33F;
}

.quote-href {
  color: #337ab7;
}

.quote-href:hover {
  color:#fff;
  background-color: #337ab7;
}

@media only screen and (max-width: 768px) {
  .intro-connect-list li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
    }
  .section {
    padding-bottom: 400px;
  }

}
