.lion {
  color: #fff;
  background-color: #feb824;
}

.tiger {
  color: #fff;
  background-color: #FB8807;
}

.wolf {
  color: #fff;
  background-color: #EF2B32;
}

.bear {
  color: #fff;
  background-color: #79C1B3;
}

.webelos {
  color: #fff;
  background-color: #005897;
}
