.csgold {
  color: #fff;
  background-color: #fdc116;
}

.csblue {
  color: #fff;
  background-color: #003f87;
}

.lion {
  color: #fff;
  background-color: #feb824;
}

.tiger {
  color: #fff;
  background-color: #FB8807;
}

.wolf {
  color: #fff;
  background-color: #fdc116;
}

.bear {
  color: #fff;
  background-color: #94d6c9;
}

.webelos {
  color: #fff;
  background-color: #5f8548;
}
